  .home{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0px;
    background: url('../img/homebackground.png') 65% bottom;
    background-size: cover;
    display: flex;
  }

#blurb{
  align-self: center;
  padding-left: 7%;
  h1{
    font-family: firamonobold;
    line-height: 5rem;
    font-size: 3.5rem;
  }
}
