.home {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: url('../img/homebackground.png') 65% bottom;
    background-size: cover;
    display: flex;
}

#blurb {
    // color: #44C0FF;
    align-self: center;
    padding-left: 7%;

    h1 {
        font-family: firamonobold;
        line-height: 5rem;
        font-size: 3.5rem;
    }
}

@media all and (max-width:599px){
    #blurb{
        h1{
            font-size: 1.75rem;
            line-height: 2.5rem;

        }
    }
}
@media all and (min-width:600px) and (max-width:1000px){
    #blurb{
        h1{
            font-size: 2.5rem;
            line-height: 3.75rem;
        }
    }
}
