
.portfolio{
  margin-top: 2rem;
  column-count: 1;
  -webkit-column-count: 1;
  column-gap: 0;
  -webkit-column-gap: 0;
  .portfolio_item{
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
  }
  // Standard portfolio item height, specify in front-matter
  .std{
    height: 200px;
  }
  // Poster portfolio item height, specify in front-matter
  .poster{
    height: 300px;
  }
}

@media screen
and (min-device-width: 500px)
and (-webkit-min-device-pixel-ratio: 1)  {
  .portfolio{
      column-count: 2;
      -webkit-column-count: 2;
  }
}
@media screen
and (min-device-width: 750px)
and (-webkit-min-device-pixel-ratio: 1)  {
  .portfolio{
      column-count: 4;
      -webkit-column-count: 4;
  }
}
